{
  "files": [
    "translation_23925_de-du (61).xlf",
    "translation_23925_de-du (185).xlf",
    "translation_23925_de-du (247).xlf",
    "translation_23925_de-du (352).xlf",
    "translation_23925_de-du (489).xlf",
    "translation_23925_de-du (latest).xlf"
  ]
}